{{set . "title" "Problem"}}
{{template "header.html" .}}
{{template "sub_header.html" .}}
<div class="ui sub menu">
	<a class="active item" >{{ msg . "SET"}}</a>
	<a class="item" href="/code/status" >{{ msg . "STATUS"}}</a>
</div>
 </div>
</div>
<div class="ui two column page grid">
	{{template "left_side.html" .}}
  <div class="twelve wide column">
{{ if .error }}
<div>
	<div class="segment">
		<p>{{ .res.error }}</p>
	</div>
</div>
{{else}}
<div class="ui divided list">
	{{$key := .res.key}}
	{{range $k,$v:= .res.probs}}
	<div class="item">
		<div class="right floated ui label">
			<i class="checkmark icon"></i>
			<a class="detail" href="#">{{$v.Solved}}</a>
		</div>
		<div class="content">
			<a class="header search" href="/problem/{{$v.Id}}" >{{ searchResult $v.Title $key }}</a>
			<div class="description search markdown">{{ searchResult $v.Text $key }}</div>
		</div>
	</div>
	{{end}}

</div>
{{end}}
{{ .pagination.Html }}
  </div>
</div>
{{template "footer.html" .}}
