{{template "flash.html" .}}
<div class="ui page grid sticky">
	<div class="four wide column">
		<div class="ui left aligned basic segment">
			<p>Author <a href="http://www.github.com/ggaaooppeenngg/">ggaaooppeenngg</a></p>
			<p>Powered by <a href="http://www.golang.org/">Golang</a>,<a href="https://github.com/revel/revel">revel</a>,<a href="https://github.com/go-xorm/xorm">Xorm</a></p>
		</div>
	</div>
</div>
{{if eq .RunMode "dev"}}
{{template "debug.html" .}}
{{end}}

<script type="text/javascript">

$("#search").click(function(){
	var key = $("#search").prev().val();
	// redirect to the search page.
	window.location.replace("/problem/search/"+key);
});

$("#searchInput").keyup(function(e){
	// press Enter
	if (e.keyCode==13){
		var key = $("#search").prev().val();
		// redirect to the search page.
		window.location.replace("/problem/search/"+key);
	}
});

</script>
</body>
</html>
